asgiref==3.8.1
autopep8==2.3.2
chardet==5.2.0
defusedxml==0.7.1
Deprecated==1.2.14
Django==5.1
django-admin-adminlte==1.0.5
django-adminlte3==0.1.6
django-filter==24.3
django-silk==5.3.2
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
fonttools==4.54.1
fpdf2==2.8.1
gprof2dot==2024.6.6
lxml==5.3.0
mysqlclient==2.2.4
packaging==24.2
pikepdf==9.4.1
pillow==10.4.0
pycodestyle==2.12.1
PyJWT==2.9.0
PyPDF2==3.0.1
python-decouple==3.8
reportlab==4.2.5
sqlparse==0.5.1
tzdata==2024.1
wrapt==1.16.0
