{% extends 'frontend/base.html' %}
{% load static %}

{% block content %}
<!--start page content-->
<div class="page-content">


    <!--start breadcrumb-->
    <div class="py-4 border-bottom">
     <div class="container">
       <nav aria-label="breadcrumb">
         <ol class="breadcrumb mb-0"> 
           <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
           <li class="breadcrumb-item"><a href="javascript:;">Authentication</a></li>
           <li class="breadcrumb-item active" aria-current="page">Reset Password</li>
         </ol>
       </nav>
     </div>
    </div>
    <!--end breadcrumb-->
 
 
    <!--start product details-->
    <section class="py-5">
     <div class="container">
       
         <div class="row">
           <div class="col-12 col-lg-6 col-xl-5 col-xxl-4 mx-auto">
              <div class="card rounded-0">
                <div class="card-body p-4">
                  <h4 class="mb-4 fw-bold text-center">Reset Password</h4>
                  
                  <form>
                     <div class="row g-4">
                       <div class="col-12">
                           <label for="exampleNewPassword" class="form-label">New Password</label>
                           <input type="text" class="form-control rounded-0" id="exampleNewPassword">
                       </div>
                       <div class="col-12">
                         <label for="examplePassword" class="form-label">Confirm Password</label>
                         <input type="text" class="form-control rounded-0" id="examplePassword">
                       </div>
                       <div class="col-12">
                         <button type="button" class="btn btn-dark rounded-0 btn-ecomm w-100">Change Password</button>
                       </div>
                       <div class="col-12 text-center">
                         <p class="mb-0 rounded-0 w-100 btn  btn-ecomm border border-dark"><i class="bi bi-arrow-left me-2"></i>Return to Login</p>
                       </div>
                     </div><!---end row-->
                  </form>
                </div>
              </div>
           </div>
         </div><!--end row-->
        
     </div>
   </section>
    <!--start product details-->
 
 
  </div>
   <!--end page content-->
 
{% endblock %}