{% extends 'frontend/base.html' %}
{% load static %}

{% block content %}
<!--start page content-->
<div class="page-content">
    
    <!--start breadcrumb-->
    <div class="py-4 border-bottom">
     <div class="container">
       <nav aria-label="breadcrumb">
         <ol class="breadcrumb mb-0"> 
           <li class="breadcrumb-item active" aria-current="page">Blog Post</li>
         </ol>
       </nav>
     </div>
    </div>

 
    <!--start blog-->
    <section class="section-padding">
      <div class="container">
        <div class="text-center pb-3">
          <h3 class="mb-0 fw-bold">Latest Blog</h3>
          <p class="mb-0 text-capitalize">Check our latest news</p>
        </div>
        <div class="blog-cards">
          <div class="row row-cols-1 row-cols-lg-3 g-4">

            {% for blog in blogs %}
            <div class="col">
              <div class="card">
                {% if blog.thumbnail %}
                  <img src="{{ blog.thumbnail.url }}" alt="{{ blog.title }}" class="card-img-top rounded-0">
                {% else %}
                  <img src="{% static 'frontend/assets/images/blog/01.webp' %}" class="card-img-top rounded-0" alt="...">
                {% endif %}
                <div class="card-body">
                  <div class="d-flex align-items-center gap-4">
                    <div class="posted-by">
                      <p class="mb-0"><i class="bi bi-person me-2"></i>{{blog.author.name}}</p>
                    </div>
                    <div class="posted-date">
                      <p class="mb-0"><i class="bi bi-calendar me-2"></i>{{blog.creted_at}}</p>
                    </div>
                  </div>
                  <h5 class="card-title fw-bold mt-3">{{ blog.title}}</h5>
                  <p class="mb-0">{{blog.subtitle}}</p>
                  <a href="{% url 'blog-details' blog.slug %}" class="btn btn-outline-dark btn-ecomm mt-3">Read More</a>
                </div>
              </div>
            </div>
            {% endfor %}

          </div>
          <!--end row-->
        </div>
      </div>
    </section>
    <!--end blog -->
 
 
  </div>
   <!--end page content-->
{% endblock %}